

header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
footer{grid-area: footer;}
.card1{grid-area: card1;}
.card2{grid-area: card2;}
.card3{grid-area: card3;}
.card4{grid-area: card4;}
.card5{grid-area: card5;}
.card6{grid-area: card6;}
.card7{grid-area: card7;}
.card8{grid-area: card8;}
.card9{grid-area: card9;}
.card10{grid-area: card10;}
.card11{grid-area: card11;}
.videocard1{grid-area: video1;}
.videocard2{grid-area: video2;}
.videocard3{grid-area: video3;}

body{
    background-color: #d5d3cf;
    font:
    1em/1.2 Arial,
    Helvetica,
    sans-serif;
    margin: 5px;
    display: grid;
    gap: 1em;
    min-height: 100vh;
    grid-template-areas: 'header'
                          'nav'
                          'main'
                          'footer';
    grid-template-rows: auto auto 1fr auto;  /*auto auto 1fr auto*/                
}

img { padding-top: 10px;
    padding-left: 10px;
}

h1 { color:rgb(58, 51, 51);
     text-align:center;
     padding-top: 10px;
     font-size: 2em;
     font-weight: bold;    
   }

a {
    cursor: pointer;
  }
a:hover{
       text-decoration: underline;    
   }
.boxcard a{padding-left: 10px;
           padding-right: 10px;
           color: blue;
           float: left;
         }
a:focus:hover{ 
              outline: 3px solid orange;              
             }
a[href^="tel:"] {
               color: black;
               text-decoration: none;
                }
em {font-style: italic;}

iframe {
       width: 100%;
       padding-top: 50px;
      }
 
address{text-align: center;}         

header .box > p{text-align: center;}
footer .box > p{text-align: center;
                padding:10px;
              }
footer img{ padding: 0px; }
/* .media{
    border:2px solid blanchedalmond;
    border-radius: 5px;
    background-color: aquamarine;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "img opis";
    margin-bottom: 1em;
} */
.videocard{
    border: 3px solid rgb(152, 151, 149);
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 50px 50px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    /* padding: 1px; */
    min-width: 200px;
    min-height: 200px;
    background-color: rgb(197, 196, 195);
    object-fit:contain;
    box-shadow: 10px 5px 5px rgb(141, 139, 138);
}

.boxcard{
    border: 3px solid rgb(152, 151, 149);
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    /* padding: 1px; */
    min-width: 200px;
    min-height: 200px;
    background-color: rgb(197, 196, 195);
    display: grid;
      /*prej je bilo 1fr 1fr, in spodaj img opis brez vejic "img opis"*/
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "img" 
                         "opis";
    box-shadow: 10px 5px 5px rgb(141, 139, 138);
}
.boxcardtext{
    border: 3px solid rgb(152, 151, 149);
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    /* padding: 1px; */
    min-width: 200px;
    min-height: 200px;
    background-color: rgb(197, 196, 195);
   /* display: grid;
      /*prej je bilo 1fr 1fr, in spodaj img opis brez vejic "img opis"*/
  /*  grid-template-rows: 2fr 1fr;
    grid-template-areas: "img" 
                         "opis";  */
    box-shadow: 10px 5px 5px rgb(141, 139, 138);
}
.boxcard .image{
    grid-area: img;
    /* background-color: blueviolet; */
    object-fit: contain; 
    border-radius: 10px;
    padding: 1em;  
}
.boxcardtext .image{
     object-fit: contain; 
     border-radius: 10px;
     padding: 1em; 
}
.boxcard .opis{
    grid-area: opis;
    padding: 10px;
    overflow: hidden;
}
.boxcardtext .text{
    padding: 10px;
    overflow: hidden;
}
.boxcard  p{
            padding-left: 10px;
            padding-right: 10px; 
           }
.boxcardtext p{
                padding-left: 10px; 
                padding-right: 10px;
              }

.boxcard  h3{padding-left: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
            letter-spacing: 3px;
            font-size: 1.5em;
            text-align: center;
            text-shadow: 4px 4px 3px grey;
           }
.boxcardtext h3{
            padding-left: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
            letter-spacing: 3px;
            font-size: 1.5em;
            text-align: center;
            text-shadow: 4px 4px 3px grey;
            }           
.content {
         min-height: 50px;
         display: grid;
         grid-template-areas: "card1"
                              "card2" 
                              "card3" 
                              "card4"
                              "card5"
                              "card6"
                              "card7"
                              "video3"
                              "video1"
                              "video2";
        /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
        grid-auto-rows: auto;
        gap: 1em;
        
}
.contentpodstran{
    min-height: 50px;
    display: grid;
    grid-template-areas: "card1" 
                         "card2" 
                         "card3" 
                         "card4" 
                         "card5" 
                         "card6";
    grid-auto-rows: auto;
    gap: 1em;
}

.box{
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    min-height: 50px;

}
.headbox {
    min-height: 50px;
    display: grid;
    grid-template-areas: "headimg" "headopis";
    grid-auto-rows: auto auto;
    gap: 1em;
    background-color:white;
} 
.headbox .headimg{
    grid-area: headimg;
    object-fit: contain; 
    border-radius: 10px;
    padding: 1em;
    margin: 0 auto;    
}

.headbox .headopis{
    grid-area: headopis;
    padding: 10px;
}
.headbox .headopis > p {text-align: center;}

footer .box a{padding-left: 40px;}

header .box p a{padding-left: 20px;}

/* "video4 . ."  das piko tam kje manka polje*/
@media (min-width:40em){
    .content{
        grid-template-areas: "card1 card2" 
                             "card3 card4"
                             "card5 card6"
                             "card7 video2"
                             "video1 video3"
                             "video4 . "; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2em;
    }
    .contentpodstran{
        grid-template-areas: "card1 card2" 
                             "card3 card4"
                             "card5 card6";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto ;
        gap: 2em
    }
}
@media (min-width:70em){
    body{
        margin: 5px;
    }
    .content{
        grid-template-areas: "card1 card2 card3"
                             "card4 card5  card6"
                             "card7 video1 video2"
                             "video3 video4 . ";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 2em;
        grid-auto-rows: minmax(200px,auto);    
    }
    .contentpodstran{
        grid-template-areas: "card1 card2 card3"
                             "card4 card5 card6";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 2em;
        grid-auto-rows: minmax(200px,auto);
    }
}